<h1> Create a Course </h1>

<p>Complete the fields below to create a course </p>

<%= form_for (@course) do |f| %>

    
    <%= f.label :course_name %>
    <%= f.text_field :course_name %><br>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description  %><br>
    <br>
    <%= f.hidden_field :teacher_id  %><br>
    <br>


    <%= f.submit %>
<% end %>	

