<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
        <% if !user_signed_in? %>
            <li><%= link_to "Signup", new_user_registration_path%></li>
            <li><%= link_to "Login", new_user_session_path%></li>
        <% else %>
            <li><%= current_user.email %></li> 
            <li><%= link_to "My Courses", new_user_session_path%></li>
            <li><%= link_to "Logout",  destroy_user_session_path, method:"delete" %></li>
        <%end %>
    </ul>
</nav>